{% extends 'base.html' %} {% load static %} {% block title %}Bluejet &#8211; Liste semences{% endblock %} {% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<!-- Main Content -->
<main class="container mx-auto p-8">
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <div class="flex justify-between items-center mb-8">
      <h1 class="text-4xl font-semibold mb-4">Liste des semences</h1>
      <a href="{% url 'create_semence' %}">
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
              Créer une semence
          </button>
      </a>
    </div>    <!-- semences Table -->
    <table id="semencesTable" class="min-w-full text-gray-900">
      <thead>
        <tr class="bg-gray-100">
          <th class="py-4 px-6 border-b text-left">Image</th>
          <th class="py-4 px-6 border-b text-left">Code Accession</th>
          <th class="py-4 px-6 border-b text-left">Nom Accession</th>
          <th class="py-4 px-6 border-b text-left">Type Accession</th>
          <th class="py-4 px-6 border-b text-left">Actions</th>
        </tr>
      </thead>
      <tbody> {% for semences_group in semences_groups %} <tr class="hover:bg-gray-100" data-id="{{ semences_group.accession.id }}">
          <td class="py-4 px-6 border-b">
            <a><img onclick="openPhotoModal({{ forloop.counter }})" src="{{ semences_group.observation.photo.url }}" alt="semence Image" width="50" /></a>
          </td>
          <td class="py-4 px-6 border-b">
            {{ semences_group.accession.code_accession }}
          </td>
          <td class="py-4 px-6 border-b">
            {{ semences_group.accession.nom_accession }}
          </td>
          <td class="py-4 px-6 border-b">
            {{ semences_group.accession.type_accession }}
          </td>
          <td class="py-4 px-6 border-b">
            <a href="{% url 'semence_delete' semences_group.id %}"><button data-id="{{ semences_group.accession.id }}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">
              <i class="fas fa-trash"></i>
            </button></a>
            <button onclick="openSemenceModal({{ forloop.counter }})" data-id="{{ semences_group.accession.id }}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
              <i class="fas fa-eye"></i>
            </button>
          </td>
        </tr> {% endfor %} </tbody>
    </table>
    </div>
  <!-- Modal Overlay (Initially hidden) -->
  <div id="semenceModalOverlay" class="fixed inset-0 bg-black opacity-0 pointer-events-none transition-opacity duration-300"></div> {% for semences_group in semences_groups %}
  <!-- Modal Overlay (Initially hidden) -->
  <div id="semenceModalOverlay_{{ forloop.counter }}" class="fixed inset-0 bg-black opacity-0 pointer-events-none transition-opacity duration-300"></div>
  <!-- Modal (Hidden by default, fadeIn transition) -->
  <div id="semenceModal_{{ forloop.counter }}" class="fixed inset-0 hidden z-10 flex items-center justify-center opacity-0 transition-opacity duration-300">
    <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
      <h1 class="text-2xl font-semibold mb-4">Details Semence</h1>
      <div>
        <strong>Code Accession:</strong> {{ semences_group.accession.code_accession }}
        <br />
        <strong>Nom Accession:</strong> {{ semences_group.accession.nom_accession }}
        <br />
        <strong>Type Accession:</strong> {{ semences_group.accession.type_accession }}
        <br />
        <strong>Classification:</strong> {{ semences_group.accession.classification }}
        <br />
        <strong>Ancienneté:</strong> {{ semences_group.accession.anciennete }}
        <br />
        <br />
        <strong>Code Classe Herberium:</strong> {{ semences_group.classe_herberium.code_classe_herberium }}
        <br />
        <strong>Numero Etagère:</strong> {{ semences_group.classe_herberium.numero_etagere }}
        <br />
        <br />
        <strong>Numero Collection:</strong> {{ semences_group.origine.numero_collection }}
        <br />
        <strong>Adresse Origine:</strong> {{ semences_group.origine.adresse_origine }}
        <br />
        <strong>Nom Collecteur:</strong> {{ semences_group.origine.nom_collecteur }}
        <br />
        <br />
        <strong>Nom Cultivars:</strong> {{ semences_group.cultivars.nom_cultivars }}
        <br />
        <strong>Traduction:</strong> {{ semences_group.cultivars.traduction }}
        <br />
        <strong>Synonyme:</strong> {{ semences_group.cultivars.synonyme }}
        <br />
        <br />
        <strong>Code Caracteristique:</strong> {{ semences_group.observation.code_caracteristique }}
        <br />
        <strong>Taille:</strong> {{ semences_group.observation.taille }}
        <br />
        <br />
        <strong>Code Caracteristique Fruits:</strong> {{ semences_group.caracteristiques_fruits.code_caracteristique_fruits }}
        <br />
        <strong>Forme de Fruit:</strong> {{ semences_group.caracteristiques_fruits.forme_de_fruit }}
        <br />
        <strong>Couleur Peau:</strong> {{ semences_group.caracteristiques_fruits.couleur_peau }}
        <br />
        <strong>Couleur Chair:</strong> {{ semences_group.caracteristiques_fruits.couleur_chair }}
        <br />
        <strong>Poids:</strong> {{ semences_group.caracteristiques_fruits.poids }}
        <br />
        <strong>Teneur de Sucre:</strong> {{ semences_group.caracteristiques_fruits.teneur_de_sucre }}
        <br />
      </div>
      <button onclick="closeModal('semenceModal_{{ forloop.counter }}')" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 mt-4"> Fermer </button>
    </div>
  </div> {% endfor %}

    <!-- Modal Overlay (Initially hidden) -->
    <div id="photoModalOverlay" class="fixed inset-0 bg-black opacity-0 pointer-events-none transition-opacity duration-300"></div> {% for semences_group in semences_groups %}
    <!-- Modal Overlay (Initially hidden) -->
    <div id="photoModalOverlay_{{ forloop.counter }}" class="fixed inset-0 bg-black opacity-0 pointer-events-none transition-opacity duration-300"></div>
    <!-- Modal (Hidden by default, fadeIn transition) -->
    <div id="photoModal_{{ forloop.counter }}" class="fixed inset-0 hidden z-10 flex items-center justify-center opacity-0 transition-opacity duration-300">
      <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
        <div>
          <img src="{{ semences_group.observation.photo.url }}" alt="semence Image" width="100%" />
        </div>
        <button onclick="closePhotoModal('photoModal_{{ forloop.counter }}')" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 mt-4"> Fermer </button>
      </div>
    </div> {% endfor %}
  
  <!-- Delete Confirmation Modal (Initially Hidden) -->
  <div id="deleteModal" class="fixed inset-0 hidden z-20 flex items-center justify-center opacity-0 transition-opacity duration-300">
    <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
      <h1 class="text-2xl font-semibold mb-4">Confirm Deletion</h1>
      <p>Are you sure you want to delete this semence?</p>
      <div class="mt-8 flex justify-end">
        <button onclick="closeDeleteModal()" class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400 mr-2"> Cancel </button>
        <button onclick="confirmDelete()" id="deleteButton" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700"> Delete </button>
      </div>
    </div>
  </div>
</main>
<script>

  // Open modal
  function openSemenceModal(id) {
    const modal = document.getElementById(`semenceModal_${id}`);
    const overlay = document.getElementById(`semenceModalOverlay_${id}`);
    modal.classList.remove("hidden", "opacity-0", "pointer-events-none");
    overlay.classList.remove("opacity-0", "pointer-events-none");
    overlay.classList.add("opacity-50");
  }
  // Fermer modal
  function closeModal(id) {
    const modal = document.getElementById(id);
    const overlay = document.getElementById(`semenceModalOverlay_${id.split("_")[1]}`);
    modal.classList.add("hidden", "opacity-0", "pointer-events-none");
    overlay.classList.add("opacity-0", "pointer-events-none");
    overlay.classList.remove("opacity-50");
  }

    // Open photo modal
    function openPhotoModal(id) {
      const photoModal = document.getElementById(`photoModal_${id}`);
      const overlay = document.getElementById(`photoModalOverlay_${id}`);
      photoModal.classList.remove("hidden", "opacity-0", "pointer-events-none");
      overlay.classList.remove("opacity-0", "pointer-events-none");
      overlay.classList.add("opacity-50");
    }
    // Fermer photo modal
    function closePhotoModal(id) {
      const photoModal = document.getElementById(id);
      const photoOverlay = document.getElementById(`photoModalOverlay_${id.split("_")[1]}`);
      photoModal.classList.add("hidden", "opacity-0", "pointer-events-none");
      photoOverlay.classList.add("opacity-0", "pointer-events-none");
      photoOverlay.classList.remove("opacity-50");
    }

</script> 

<script>
  $(document).ready(function() {
    $('#semencesTable').DataTable({
      "pagingType": "full_numbers",
      "language": {
        "paginate": {
          "first": '<i class="fas fa-angle-double-left"></i>',
          "previous": '<i class="fas fa-angle-left"></i>',
          "next": '<i class="fas fa-angle-right"></i>',
          "last": '<i class="fas fa-angle-double-right"></i>'
        },
        "search": "_INPUT_",
        "searchPlaceholder": "Rechercher...",
        "lengthMenu": "Afficher _MENU_ enregistrements par page",
        "zeroRecords": "Aucun enregistrement trouvé",
        "info": "Affichage de la page _PAGE_ sur _PAGES_",
        "infoEmpty": "Aucun enregistrement disponible",
        "infoFiltered": "(filtré à partir de _MAX_ enregistrements totaux)"
      },
      "paging": true,
      "searching": true,
      "ordering": false
    });
  });
</script>

  {% endblock content %}